node_modules/
.env
npm-debug.log*
package-lock.json
.DS_Store
dist/
coverage/
/.idea/
.vscode/
# logs
logs
*.log
pids
*.pid
*.seed
__pycache__/
*.sqlite3
# Ignore large local images used for screenshots/docs
/Book-Reading-tracker-tp/IMG-TP.png
/Book-Reading-tracker-tp/IMG1-TP.png
/Book-Reading-tracker-tp/IMG2-MONGO.png